@import "./inter.scss";
@import "vue3-carousel/dist/carousel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply text-gray-800 font-normal;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    --vc-pgn-background-color: theme("colors.gray.100");
    --vc-pgn-active-color: theme("colors.orange.500");
}

body {
    @apply m-0 p-0 overflow-hidden w-screen h-screen;
    height: calc(var(--vh, 1vh) * 100);
}

button {
    @apply appearance-none outline-none cursor-pointer;
}

input, textarea {
    font: inherit;
    font-weight: 500;

    &::placeholder {
        @apply text-gray-300 font-normal;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 200ms
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.carousel__pagination-button {
    &::after {
        @apply h-2 w-2 rounded-full transition-all;
    }
}